*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 500px) {
    ul > li {
        display: inline-block;
    }

    footer {
        align-items: center;
    }

    footer > div {
        margin: 1em 3em 1em 3em;
    }

    .footer-text {
        text-align: right;
    }
}

@media (max-width: 500px) {
    ul > li {
        margin: 2em 2em 2em 2em;
    }

    footer > div {
        margin-left: 1em;
        margin-right: 1em;
    }

    .footer-logo {
        text-align: center;
        margin-top: 1em;
    }

    .footer-text {
        text-align: center;
        margin-bottom: 1em;
    }
}

body {
    background-color: blanchedalmond;
    font-family: Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    justify-content: center;
}

header {
    text-align: center;
    margin: 2em 2em 2em 2em;
}

nav {
    text-align: center;
    margin: 2em 2em 2em 2em;
}

.banner {
    background-color: red;
    color: white;
    text-align: center;
    padding: 2em;
    margin: 2em 2em 2em 2em;
}

section {
    padding: 0 1em;
    margin: 2em 2em 2em 2em;
}

footer {
    background-color: #26877f;
    color: white;
    align-items: justify;
    vertical-align: center;
    margin-top: 2em;
}

a {
    color: black;
    padding: 1em 2em 1em 2em;
}

ul > li {
    list-style: none;
}

header > img {
    width: 5vw;
    max-width: 80px;
    min-width: 70px;
}

.footer-logo > img{
    width: 1.8vw;
    min-width: 30px;
}


a:hover {
    background-color: #26877f;
    color: white;
    transition: 0.4s;
}

#hours {
    padding-left: 0.5em;
}